*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.container{
    width: 350px;
    margin: 4em auto 0;
    height: 300px;
    background-color: cadetblue;
    border-radius: 10px;
    text-align: center;
}
h2.header{
          padding: 15px;
          color: white;

}
div.form-group-mobile{
    margin-bottom: 1em;
}
.container input{
    border-radius: 7px;
    padding: 5px;
    width: 70%;
    cursor: pointer;
}
img.js{
    position: relative;
    left: -27px;
    bottom: -5px;
}
.container button{
    padding: 7px 25px;
    border-radius: 7px;
    border: none;
    color: cadetblue;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
}
.container button:hover{
    color: white;
    background-color: deepskyblue;
}
form+span{
    color: white;
}

